**/*sim
**/*simv
**/*sim.txt
**/*simout*
**/*stack.info*
tb/rom/*.v
**/*vcd
*/obj_dir
**/*.d
**/*.o
*.log
*.daidir
*.vdb
*.old
*.tcl
!wave.tcl
tb/rom/bp_be_test_rom.v
csrc
simv
DVEfiles
*.vpd
*.vcd
ucli.key
*.swp
.nfs*
stack.info.*
simout.txt
*.pyc
