.DS_STORE
bsg_cadenv
external/*
*.swp
*.pyc
*.log
*.s
*.bin
*.hex
*.mem
*.nbf
*.riscv
*.s
*.dump
*.spike
*.pl
*_gendata.pl
*.o
*.a
*.png
results/
reports/
logs/
bp_common/test/bin/
bp_common/test/lib/
bp_common/test/include/
spec2000/
