variables:
  GIT_STRATEGY: fetch
  GIT_SUBMODULE_STRATEGY: none

## CI Stages:
#    manual: Manual jobs used to do CI maintainance, like wiping the directory or clearing cache
#    prep  : Jobs to ensure the repo is up to date with tools and progs
#    check : Sanity checks of RTL quality
#    test-short :
#    test-medium:
#    test-long  : Functional RTL tests
stages:
  - manual
  - prep
  - check
  - test-short
  - test-medium
  - test-long
  - test-ultralong
 
clean_all:
  when: manual
  stage: manual
  tags:
    - bsg
  script:
      - git clean -fdx

bleach_all:
  when: manual
  stage: manual
  tags:
    - bsg
  script:
    - git submodule deinit -f .
    - git clean -fdx
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - $CI_PROJECT_DIR/bp_common/test/mem
      - $CI_PROJECT_DIR/external/bin
      - $CI_PROJECT_DIR/external/lib
      - $CI_PROJECT_DIR/external/lib64
      - $CI_PROJECT_DIR/external/lib-linux64
      - $CI_PROJECT_DIR/external/libexec
      - $CI_PROJECT_DIR/external/include
      - $CI_PROJECT_DIR/external/riscv64-unknown-elf-dramfs
      - $CI_PROJECT_DIR/external/share
      - $CI_PROJECT_DIR/external/touchfiles
    policy: push

update-cache: &update-cache-manual
  when: manual
  stage: manual
  tags:
    - bsg
  script:
    - git submodule deinit -f .
    - git submodule sync
    - make prep -j $CI_CORES > make_prep.log
    - make tidy_tools > make_tidy_tools.log
  cache:
    key: $CI_COMMIT_REF_SLUG
    paths:
      - $CI_PROJECT_DIR/bp_common/test/mem
      - $CI_PROJECT_DIR/external/bin
      - $CI_PROJECT_DIR/external/lib
      - $CI_PROJECT_DIR/external/lib64
      - $CI_PROJECT_DIR/external/lib-linux64
      - $CI_PROJECT_DIR/external/libexec
      - $CI_PROJECT_DIR/external/include
      - $CI_PROJECT_DIR/external/riscv64-unknown-elf-dramfs
      - $CI_PROJECT_DIR/external/share
      - $CI_PROJECT_DIR/external/touchfiles
    policy: push

.job_template: &job_definition
  only:
    - master
    - dev
    - fe_dev
    - be_dev
    - me_dev
    - top_dev
    - sw_dev
    - me_dev_fix_ci
  before_script:
    - echo "Forcefully updating submodules"
    - git submodule update --init --force
    - echo "Making CCE ucode"
    - make ucode > make_ucode.log
  artifacts:
    when: always
    paths:
      - "*.log"
      - "bp_fe/syn/reports/"
      - "bp_be/syn/reports/"
      - "bp_me/syn/reports/"
      - "bp_top/syn/reports/"
      - "bp_fe/syn/logs/"
      - "bp_be/syn/logs/"
      - "bp_me/syn/logs/"
      - "bp_top/syn/logs/"
  cache: &global_cache
    key: $CI_COMMIT_REF_SLUG
    paths:
      - $CI_PROJECT_DIR/bp_common/test/mem
      - $CI_PROJECT_DIR/external/bin
      - $CI_PROJECT_DIR/external/lib
      - $CI_PROJECT_DIR/external/lib64
      - $CI_PROJECT_DIR/external/lib-linux64
      - $CI_PROJECT_DIR/external/libexec
      - $CI_PROJECT_DIR/external/include
      - $CI_PROJECT_DIR/external/riscv64-unknown-elf-dramfs
      - $CI_PROJECT_DIR/external/share
      - $CI_PROJECT_DIR/external/touchfiles
    policy: pull
  dependencies: []
  retry:
    max: 2
    when:
      - script_failure

prep:
  <<: *job_definition
  stage: prep
  tags:
    - bsg
  script:
    - make prep -j $CI_CORES > make_prep.log
  cache: &global_cache
    key: $CI_COMMIT_REF_SLUG
    paths:
      - $CI_PROJECT_DIR/bp_common/test/mem
      - $CI_PROJECT_DIR/external/bin
      - $CI_PROJECT_DIR/external/lib
      - $CI_PROJECT_DIR/external/libexec
      - $CI_PROJECT_DIR/external/lib64
      - $CI_PROJECT_DIR/external/lib-linux64
      - $CI_PROJECT_DIR/external/libexec
      - $CI_PROJECT_DIR/external/include
      - $CI_PROJECT_DIR/external/riscv64-unknown-elf-dramfs
      - $CI_PROJECT_DIR/external/share
      - $CI_PROJECT_DIR/external/touchfiles
    policy: pull-push

## This job runs on fix branches only. We generally assume fix branches do not have major
#    architectural changes that need to be thoroughly tested. Simply checking synthesizability
#    susses out most typos.
# TODO: This target is not super useful, but consumes a lot of CI cycles...
#fix_job:
#  only:
#    - /^.*fix.*$/
#  stage: check
#  tags:
#    - bsg
#    - vcs
#  script:
#    - $CI_PROJECT_DIR/ci/check_design.sh
#    - make -C bp_top/syn clean
#  cache:
#    key: "dev"
#    paths:
#      - $CI_PROJECT_DIR/external/
#    policy: pull
#  artifacts:
#    when: always
#    paths:
#      - "bp_top/syn/reports/"

check-design:
  <<: *job_definition
  stage: check
  tags:
    - dc
  script:
    - $CI_PROJECT_DIR/ci/check_design.sh $CI_CORES
      
lint-verilator:
  <<: *job_definition
  stage: check
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/lint.sh verilator $CI_CORES
 
lint-vcs:
  <<: *job_definition
  stage: check
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/lint.sh vcs $CI_CORES

tire_kick:
  stage: check
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/tire_kick.sh

bloodgraph-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/bloodgraph.sh $CI_CORES

# Takes too long to build
weird-verilator:
  <<: *job_definition
  when: manual
  stage: test-short
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/weird_config.sh verilator $CI_CORES

weird-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/weird_config.sh vcs $CI_CORES

me-regress-verilator:
  <<: *job_definition
  stage: test-short
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/me_regress.sh verilator $CI_CORES
 
me-regress-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/me_regress.sh vcs $CI_CORES

top-bootrom-verilator:
  <<: *job_definition
  stage: test-short
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/bootrom.sh verilator $CI_CORES

top-bootrom-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/bootrom.sh vcs $CI_CORES

top-riscv-tests-verilator:
  <<: *job_definition
  stage: test-short
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh verilator RISCV_TESTLIST $CI_CORES
 
top-riscv-tests-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh vcs RISCV_TESTLIST $CI_CORES

dcache-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/dcache_regress.sh vcs $CI_CORES

icache-vcs:
  <<: *job_definition
  stage: test-short
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/icache_regress.sh vcs $CI_CORES

top-mc-verilator:
  <<: *job_definition
  stage: test-medium
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/multicore.sh verilator $CI_CORES

top-mc-vcs:
  <<: *job_definition
  stage: test-medium
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/multicore.sh vcs $CI_CORES

top-misc-vcs:
  <<: *job_definition
  stage: test-medium
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh vcs MISC_TESTLIST $CI_CORES

top-misc-verilator:
  <<: *job_definition
  stage: test-medium
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh verilator MISC_TESTLIST $CI_CORES

top-riscvdv-vcs:
  <<: *job_definition
  stage: test-medium
  allow_failure: true
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh vcs RISCVDV_TESTLIST $CI_CORES

top-checkpoint-verilator:
  <<: *job_definition
  stage: test-medium
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/checkpoint.sh verilator $CI_CORES

top-checkpoint-vcs:
  <<: *job_definition
  stage: test-medium
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/checkpoint.sh vcs $CI_CORES

check-loops:
  <<: *job_definition
  stage: test-medium
  tags:
    - dc
  script:
    - $CI_PROJECT_DIR/ci/check_loops.sh $CI_CORES

top-dram-vcs:
  <<: *job_definition
  stage: test-medium
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/dram.sh

top-linux-verilator:
  <<: *job_definition
  when: manual
  stage: test-ultralong
  tags:
    - verilator
  script:
    $CI_PROJECT_DIR/ci/linux.sh verilator $CI_CORES

top-coremark-verilator:
  <<: *job_definition
  stage: test-long
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh verilator COREMARK_TESTLIST $CI_CORES

top-coremark-vcs:
  <<: *job_definition
  stage: test-long
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh vcs COREMARK_TESTLIST $CI_CORES

top-beebs-verilator:
  <<: *job_definition
  stage: test-long
  tags:
    - verilator
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh verilator BEEBS_TESTLIST $CI_CORES

top-beebs-vcs:
  <<: *job_definition
  stage: test-long
  tags:
    - vcs
  script:
    - $CI_PROJECT_DIR/ci/single_core_testlist.sh vcs BEEBS_TESTLIST $CI_CORES

top-linux-vcs:
  <<: *job_definition
  when: manual
  stage: test-ultralong
  tags:
    - vcs
  script:
    $CI_PROJECT_DIR/ci/linux.sh vcs $CI_CORES

