[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator
    branch = master
    ignore = untracked
    update = none
[submodule "bsg_sv2v"]
	path = bsg_sv2v
	url = https://github.com/bespoke-silicon-group/bsg_sv2v
    branch = master
    ignore = untracked
    update = none
[submodule "bsg_cadenv"]
	path = bsg_cadenv
	url = https://github.com/bespoke-silicon-group/bsg_cadenv
    branch = master
    ignore = untracked
    update = none
